/* Define a class that disables scrolling */
.disable-scroll {
  overflow: hidden;
}

* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  align-items: start;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  background-color: #f5f9ff;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

html {
  overflow-y: auto;
}

nav {
  opacity: 0.85;
  top: 3vh;
  margin: 3vh 3vh 0px 3vh;
  padding: 1dvh;
  background: rgba(127, 200, 248, 0.8);
  border-radius: 45px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.navbar label.logo {
  margin-left: 1.5rem;
  color: gold;
  font-size: 3rem;
  line-height: 80px;
  padding: 0px 15px;
  font-weight: bold;
  z-index: 3;
}

.logo:hover {
  cursor: pointer;
}

.navbar ul {
  float: right;
  margin-right: 1.5rem;
  border-radius: 45px;
}
.navbar ul li {
  display: inline-block;
  /* line-height: 80px; */
  margin: 0 5px;
}

.navbar ul li a {
  color: whitesmoke;
  padding: 7px 13px;
  border-radius: 3px;
  text-align: center;
  font-size: 2.3vmin;
  cursor: pointer;
  position: relative;
}

.navbar ul li::after {
  width: 0;
  height: 3px;
  background: #2192ff;
  position: absolute;
  left: 0;
  bottom: -10px;
}
.navbar a {
  position: relative;
}

.navbar ul li a:hover {
  transform: scale(2);
  opacity: 1;
  filter: blur(0);
  text-decoration: none;
  color: gold;
  font-size: 2rem;
  transition: 0.3s;
}

.navbar ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: -1;
}

.navbar ul li a:hover:before {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
}
.checkbtn {
  font-size: 40px;
  color: whitesmoke;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

.fa-bars:before,
.fa-navicon:before {
  content: "\f0c9";
}

@media (max-width: 952px) {
  .navbar label.logo {
    font-size: 30px;
    padding-left: 10px;
  }
  .navbar nav ul li a {
    display: hidden;
  }

  .ul {
    display: block;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  .navbar ul {
    z-index: 5;
    position: fixed;
    width: 100vw;
    height: auto;
    background: rgba(127, 200, 248, 0.9);
    top: 80px;
    left: -150%;
    text-align: center;
    transition: all 0.5s;
    overflow: hidden;
  }
  .navbar label.logo {
    order: -1;
    margin-left: 1.5rem;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
}

/* Mobile menu */
/* Hide the mobile menu by default */
.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(127, 200, 248);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s 0.7s, opacity 0.7s;
}

.show-menu {
  display: flex;
  animation: fade-in-from-bottom 0.8s forwards;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes slide-in-li {
  from {
    opacity: 0;
    transform: translateX(-200%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-in-from-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fade-in-from-bottom {
  from {
    opacity: 0;
    transform: translateY(100%);
    visibility: visible;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

.mobile-menu ul {
  font-size: 3.5dvh;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  transform: translateX(-100%);
}

.mobile-menu.show-menu ul {
  animation: slide-in-from-left 1.5s forwards;
}

.mobile-menu a {
  color: gold;
}
.mobile-menu ul li {
  opacity: 0;
  margin: 3dvh 0;
  transform: translateX(-200%);
  animation: slide-in-li 1s forwards;
}

.mobile-menu.show-menu ul li:nth-child(1) {
  animation-delay: 0.2s; /* Adjust the delay for the first li */
}

.mobile-menu.show-menu ul li:nth-child(2) {
  animation-delay: 0.5s; /* Adjust the delay for the second li */
}

.mobile-menu.show-menu ul li:nth-child(3) {
  animation-delay: 0.8s; /* Adjust the delay for the third li */
}

.mobile-menu.show-menu ul li:nth-child(4) {
  animation-delay: 1.1s; /* Adjust the delay for the fourth li */
}

.mobile-menu.show-menu ul li:nth-child(5) {
  animation-delay: 1.4s; /* Adjust the delay for the fifth li */
}

.close-button-container {
  margin-left: auto;
  margin-right: 0;
  width: 100%;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: space-between;
  align-items: center;
}

.mobile-logo {
  color: white;
  font-size: 3.5rem;
  margin: auto;
}

.close-button {
  font-size: 1.8rem;
  color: white;
  background-color: rgba(127, 200, 248);
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: 5px;
}

.separator-line {
  width: 90%;
  height: 2px;
  background-color: gold;
  color: gold;
  margin: 3px 0;
}

.mobile-footer {
  text-align: center;
  background-color: rgba(127, 200, 248);
  color: white;
}